:root {
    --post-background: light-dark(#fff, #222);
    --post-border: light-dark(#ccc, var(--border));
    --post-text: light-dark(#222, var(--text));
    --post-text-soft: light-dark(#aaa, var(--text-soft));
}

div.postcard { background: var(--post-background); color: var(--post-text); border-radius: 0.5em; overflow: hidden; margin: 0.5em 0; }
div.postcard p { margin: 1em; }

div.postcard hr { border-color: var(--post-border); }

div.postheader { display: flex; align-items: center; gap: 0.5em; margin: 1em; font-size: 0.8em; color: var(--post-text-soft); }
div.postheader img.pfp { width: 28px; }

a.postname { color: var(--post-text); font-weight: 700; }
a.posthandle { color: inherit; }

div.posttags { display: flex; gap: 4px; flex-wrap: wrap; margin: 1em 0.5em; }
div.posttags a { border: 1px solid var(--post-border); border-radius: 1000px; padding: 1px 6px; font-size: smaller; color: var(--post-text-soft); }

div.postfooter { margin: 0.5em; }
