@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');
:root {
    --background: #eef3ee;
    --text: #001100;
    --accent: #224433;

    background: var(--background);
    font-family: 'Outfit', sans-serif;
    font-size: 14px; /* use rem to use values as a fraction of this */
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: var(--accent);
}

a:hover {
    color: var(--accent);
}

/* icon links in bio */
/* https://codepen.io/sosuke/pen/Pjoqqp */
a img {
    border-bottom: 0px solid var(--accent);
    margin-bottom: 0px;
    transition-duration: 0.2s;
}

a:hover img {
    border-bottom: 2px solid var(--accent);
    margin-bottom: -2px;
}

ul {
    padding-left: 24px;
}

.section {
    background: var(--accent);
    color: var(--background);
    padding: 6px 2px;
    position: relative;
    margin: 0 auto 12px;
    max-width: 750px;
}

.section img {
    max-width: 100%;
}

.section h1 {
    font-size: 1.3rem;
    margin: 0 0 4px 0;
}

.section div {
    color: var(--text);
    background: var(--background);
    margin: 0;
    padding: 2px;
}

.section p {
    margin: 0 0 8px 0;
}

/* mobile/portrait orientation */
@media screen and (orientation : portrait) {
    .section {
        max-width: 100%;
    }
}
